@import "tailwindcss";

body {
    background-color: #f6f6f6;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.ql-container {
    border: none !important;
}
.ql-toolbar {
    border: none !important;
}
.ql-editor {
    border: none !important;
}